
a{
    font-size: 20px;
    text-decoration: none;
    color: coral;
}

.hide{
    display: none;
}

#Timer{
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.Correct{
    color: green;
}

.Incorrect{
    color: red;
}

button{
    font-size: 25px;
    background-color: coral;
    padding: 5px;
    text-align: center;
    border-radius: 5%;
    border: none;
    text-decoration: none;
    margin-bottom: 10px;
    color: white;
}

button:hover {
    background-color: rgba(255, 127, 80, 0.884);
}

.choiceBtn{
    padding: 10px;
    display: block;
    margin-left: 20%;
}

#startBtn{
    padding: 10px;
    padding-left:  20px;
    padding-right: 20px;
}

#startArea, 
#questionArea,
#submitHighscore,
#hsArea {
    text-align: center;
}

.startText {
    font-size: 25px;
}

#highscoresList {
    list-style-position: inside;
}

li{
    font-size: 20px;
    padding: 5px;
    margin-left: 20%;
    margin-right: 20%;
}

li:nth-of-type(odd) {
    background-color: coral;
    color: white;
}

.listTitle{
    text-align: center;
    font-size: 35px;
}

.hsArea button{
    padding: 8px;
}

.backBtn{
    margin-left: 20%;
}

.backBtn{
    padding-left:  20px !important;
    padding-right: 20px !important;
}

.backBtn a{
    color:white;
}

#submitHighscore {
    font-size: 25px;
}

#initialsInput{
    border-color: coral;
    font-size: 25px;
    color: cornflowerblue;
}

#initialsInput::placeholder{
    color: rgba(255, 68, 0, 0.753);
}


#initialsInput:focus, 
a:focus, 
button:focus{
    outline-color: rgb(255, 92, 32);
}